*::-webkit-input-placeholder {
	color: #5c5d5f;
	opacity: 1;
}
*:-moz-placeholder {
	color: #5c5d5f;
	opacity: 1;
}
*::-moz-placeholder {
	color: #5c5d5f;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #5c5d5f;
	opacity: 1;
}

body {
	font-family: 'Manrope';
	font-size: 16px; 
	line-height: 160%;
	color: #000;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
*:link,
*:visited,
*:hover,
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}


.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 500;
	background: #fff;
}
.header__head {
	padding: 12px 0;
	position: relative;
	display: flex;
	align-items: center;
}
.header__info {
	margin: 0 auto;
}
.header__top {
	font-size: 14px;
	line-height: 160%;
	font-weight: 600;
	color: #fff;
	text-align: center;
	background: #050505;
}
.header__location {
	gap: 9px;
	display: flex;
	align-items: center;
}
.header__location img {
	width: 24px;
	height: auto;
}
.logo img {
	width: 238px;
	height: auto;
	display: block;
}
.header__wrapper {
	gap: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__main {
	padding-top: 25px;
	padding-bottom: 30px;
}
.header__buttons {
	gap: 10px;
	display: flex;
	align-items: center;
}
.btn-page {
	height: 48px;
	font-size: 14px;
	padding-left: 18px;
	padding-right: 24px;
	gap: 14px;
	line-height: 160%;
	font-weight: 700;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 6px;
	background: #fe4b0c;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-page__icon {
	width: 24px;
	height: 24px;
	flex: none;
	position: relative;
}
.btn-page__icon::before,
.btn-page__icon::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.btn-page_catalog .btn-page__icon::before {
	background-image: url(../img/grid.svg);
}
.btn-page_menu .btn-page__icon::before {
	background-image: url(../img/hamburger.svg);
}
.btn-page.btn-page_menu {
	background: #414141;
}
.search-main {
	flex: 1;
	position: relative;
}
.search-main input {
	height: 48px;
	padding: 0 18px;
	padding-right: 60px;
	font-size: 14px;
	line-height: 130%;
	color: #000;
	width: 100%;
	border: 1px solid #5c5d5f;
	border-radius: 6px;
	font-family: 'Manrope';
	background: #fff;
}
.search-main *::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
}
.search-main *:-moz-placeholder {
	color: #000;
	opacity: 1;
}
.search-main *::-moz-placeholder {
	color: #000;
	opacity: 1;
}
.search-main *:-ms-input-placeholder {
	color: #000;
	opacity: 1;
}
.search-main__btn {
	width: 60px;
	height: 100%;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: all 0.3s;
	background-image: url(../img/search.svg);
	background-size: 24px auto;
	background-repeat: no-repeat;
	background-position: center;
}
.phones-list {
	line-height: 140%;
	font-weight: 700;
}
.phones-list a {
	color: #000;
}
.header__personal {
	gap: 16px;
	padding-right: 15px;
	display: flex;
	align-items: center;
}
.btn-header {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.btn-header img {
	max-width: 100%;
	max-height: 100%;
}
.btn-header__value {
	width: 20px;
	height: 20px;
	top: -8px;
	right: -15px;
	font-size: 13px;
	line-height: 160%;
	color: #fff;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #fe4b0c;
	color: #fff;
	position: absolute;
}

.item-billbord {
	height: 400px;
	padding: 33px 62px;
	padding-bottom: 48px;
	font-size: 18px;
	font-weight: 500;
	line-height: 160%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #fff;
	position: relative;
	z-index: 1;
}
.item-billbord__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.item-billbord__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 2s;
	border-radius: 20px;
}
.item-billbord__title {
	font-size: 64px;
	margin-bottom: 16px;
	line-height: 160%;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Oswald';
}
.item-billbord__title span {
	font-size: 32px;
	display: block;
	line-height: 120%;
}
.item-billbord ul {
	padding-left: 20px;
}
.item-billbord ul li {
	list-style-type: disc;
}
.btn-main {
	height: 58px;
	padding: 0 48px;
	font-size: 16px;
	border-radius: 40px;
	font-weight: 600;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #050505;
	font-family: 'Manrope';
	cursor: pointer;
	border: none;
	transition: all 0.3s;
}
.item-billbord .btn-main {
	margin-top: auto;
}
.slider-documents:not(.slick-initialized)>*:not(:first-child),
.slider-nav:not(.slick-initialized)>*:not(:first-child),
.slider-for:not(.slick-initialized)>*:not(:first-child),
.slider-catalog:not(.slick-initialized)>*:not(:first-child),
.slider-billbord:not(.slick-initialized)>*:not(:first-child) {
	display: none;
}
.slider-documents .slick-track,
.slider-for .slick-track,
.slider-catalog .slick-track,
.slider-billbord .slick-track {
	display: flex !important;
}
.slider-documents .slick-slide,
.slider-for .slick-slide,
.slider-catalog .slick-slide,
.slider-billbord .slick-slide {
	height: inherit !important;
}
.slick-arrow {
	width: 54px;
	height: 54px;
	border-radius: 50%;
	border: 2px solid #414141;
	top: 50%;
	position: absolute;
	transition: all 0.3s;
	cursor: pointer;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 2;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-prev {
	left: -27px;
}
.slick-next {
	right: -27px;
}
.slick-arrow::before {
	display: none;
}
.slick-dots {
	gap: 12px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.slick-dots li {
	width: 10px;
	height: 10px;
	margin: 0;
	transition: all 0.3s;
}
.slick-dots li button {
	width: 10px;
	height: 10px;
	background: #5c5d5f;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 1;
	display: block;
	font-size: 0;
	color: transparent;
}
.slick-dots li.slick-active button {
	background: #fe4b0c;
}
.slick-dots li button::before {
	display: none;
}
.slider-billbord .slick-dots {
	bottom: -20px;
}
.item-banner {
	height: 188px;
	padding: 0 47px;
	margin-bottom: 24px;
	padding-right: 170px;
	border-radius: 24px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color: #fff;
	background: #5c5d5f;
	position: relative;
	z-index: 1;
}
.item-banner__title {
	font-size: 32px;
	line-height: 140%;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	font-family: 'Oswald';
}
.item-banner:last-child {
	margin-bottom: 0;
}
.item-banner_secondary {
	background: #fe4b0c;
}
.item-banner__icon {
	width: 172px;
	right: 55px;
	top: 8px;
	bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
	position: absolute;
}
.item-banner__icon img {
	max-width: 100%;
	max-height: 100%;
}
.item-banner__arrow {
	width: 48px;
	height: 48px;
	bottom: 14px;
	right: 14px;
	border-radius: 50%;
	background-color: #fff;
	background-image: url(../img/arrow_up.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	position: absolute;
	transition: all 0.3s;
}

.categories {
	padding-top: 65px;
	padding-bottom: 95px;
}
.title-section {
	font-size: 48px;
	padding-left: 58px;
	line-height: 140%;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Oswald';
	position: relative;
}
.title-section::before {
	position: absolute;
	display: block;
	content: " ";
	top: 5px;
	bottom: 5px;
	left: 0;
	width: 10px;
	background: #fe4b0c;
}
.head-section {
	gap: 62px;
	margin-bottom: 49px;
	display: flex;
	align-items: center;
}
.descr-section {
	font-size: 18px;
	line-height: 160%;
	font-weight: 500;
}
.categories .descr-section {
	max-width: 760px;
}
.row>div {
	padding: 0 15px;
}
.row {
	margin: 0 -15px;
}
.row.row_main>div {
	margin-bottom: 30px;
}
.row.row_main {
	margin-bottom: -30px;
}
.item-category {
	padding: 24px;
	border-radius: 16px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
	background: #ededed;
	min-height: 100%;
	position: relative;
	z-index: 1;
	transition: all 0.5s;
}
.item-category__bg {
	bottom: 10px;
	right: 10px;
	z-index: -1;
	position: absolute;
}
.item-category__bg img {
	width: 160px;
	height: auto;
}
.item-category__head {
	gap: 24px;
	padding-right: 80px;
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	width: 100%;
}
.item-category__title {
	font-size: 32px;
	line-height: 140%;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	display: block;
	transition: all 0.3s;
	font-family: 'Oswald';
}
.item-category__icon {
	width: 94px;
	height: 94px;
	border-radius: 50%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.item-category__icon img {
	max-width: 100%;
	max-height: 100%;
}
.item-category__icon img {
	width: 42px;
	height: auto;
}
.item-category ul {
	padding-left: 20px;
}
.item-category ul li {
	font-size: 18px;
	margin-bottom: 6px;
	font-weight: 500;
	line-height: 160%;
	list-style-type: disc;
}
.item-category ul li a {
	color: #000;
	border-bottom: 1px transparent solid;
}
.item-category ul li:last-child {
	margin-bottom: 0;
}
.btn-simple {
	font-size: 14px;
	padding: 12px 18px;
	border-radius: 6px;
	line-height: 130%;
	color: #000;
	background: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
}
.item-category .btn-simple {
	margin-top: 32px;
}

.catalog {
	padding-top: 51px;
	padding-bottom: 85px;
	background: #414141;
	color: #fff;
	overflow: hidden;
}
.btn-main.btn-main_page {
	background: #fff;
	color: #fe4b0c;
}
.head-section .btn-main {
	height: 54px;
	font-size: 14px;
	margin-left: auto;
}
.slider-catalog .item-catalog {
	width: 270px;
	margin-right: 2px;
}
.item-catalog {
	padding: 20px;
	border-radius: 12px;
	color: #000;
	border: 1px solid #d9d9d9;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-catalog__image {
	height: 230px;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-catalog__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-catalog__articul {
	font-size: 14px;
	margin-bottom: 12px;
	line-height: 160%;
	color: #5c5d5f;
	font-weight: 500;
}
.item-catalog__title {
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 140%;
	color: #050505;
	font-weight: 600;
	width: 100%;
	display: block;
}
.item-catalog__prices {
	gap: 15px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: 1fr 1.7fr;
	align-items: center;
	width: 100%;
}
.price-main {
	font-size: 24px;
	line-height: 140%;
	color: #050505;
	font-weight: 600;
}
.price-old {
	font-size: 18px;
	line-height: 140%;
	text-decoration: line-through;
	color: #5c5d5f;
	font-weight: 600;
}
.item-catalog__buttons {
	gap: 5px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-catalog__buttons .btn-main {
	font-size: 14px;
	height: 46px;
	gap: 12px;
	flex-grow: 1;
	padding: 0 2px;
	display: flex;
}
.btn-main.btn-main_secondary {
	background: #fe4b0c;
}
.item-catalog__buttons .btn-main img {
	width: 20px;
}
.slider-catalog .slick-prev {
	left: -75px;
}
.slider-catalog .slick-next {
	right: -75px;
}
.slider-catalog .slick-list {
	overflow: visible;
}

.about {
	padding-top: 88px;
	padding-bottom: 157px;
	font-size: 18px;
	line-height: 160%;
}
.title-small {
	font-size: 24px;
	line-height: 140%;
	font-weight: 600;
}
.about .title-small {
	margin-bottom: 24px;
}
.btn-main.btn-main_border {
	border: 1px solid #fe4b0c;
	color: #fe4b0c;
	background: transparent;
	font-weight: 400;
}
.about .btn-main {
	height: 54px;
	margin-top: 50px;
	padding: 0 24px;
	font-size: 14px;
}
.about .title-section {
	flex: none;
}
.about__image {
	margin-top: 15px;
}
.about__image img {
	border-radius: 24px;
	max-width: 100%;
	height: auto;
}

.consultation {
	padding-top: 37px;
	font-size: 18px;
	line-height: 160%;
	font-weight: 600;
	background: #414141;
	color: #fff;
	z-index: 1;
	overflow: hidden;
}
.consultation__descr {
	font-size: 36px;
	padding-left: 57px;
	margin-top: 15px;
	line-height: 140%;
	font-weight: 500;
}
.consultation__title {
	font-size: 32px;
	margin-bottom: 10px;
	line-height: 160%;
}
.consultation .btn-main {
	margin-top: 20px;
	padding: 0 36px;
}
.consultation__content {
	max-width: 381px;
	flex: none;
}
.consultation__wrap {
	display: flex;
	align-items: flex-start;
}
.consultation__image {
	margin-top: 8px;
}
.consultation__bg {
	top: 23px;
	right: 61px;
	z-index: -1;
	position: absolute;
}
.consultation .row>div {
	position: relative;
	z-index: 2;
}

.footer {
	padding-top: 47px;
	font-size: 14px;
	line-height: 140%;
	color: #fff;
	background: #050505;
}
.footer__nav_big,
.footer__title {
	font-size: 16px;
	margin-bottom: 11px;
	line-height: 140%;
	text-transform: uppercase;
	color: #fe4b0c;
	font-weight: 700;
	font-family: 'Oswald';
}
.footer__nav a {
	color: #fff;
	border-bottom: 1px transparent solid;
}
.footer__nav {
	margin-bottom: 20px;
}
.footer__nav:last-child {
	margin-bottom: 0;
}
.footer__nav li {
	margin-bottom: 2px;
}
.footer__nav li:last-child {
	margin-bottom: 0;
}
.footer__nav_big a {
	color: #fe4b0c;
}
.footer__nav_big li {
	margin-bottom: 17px;
}
.footer .phones-list a {
	color: #fff;
}
.footer .phones-list {
	margin-top: 15px;
}
.socials-list {
	gap: 8px;
	display: flex;
	align-items: center;
}
.socials-list a {
	width: 40px;
	height: 40px;
	padding: 5px;
	border-radius: 6px;
	background: #fe4b0c;
	display: flex;
	align-items: center;
	justify-content: center;
}
.socials-list a img {
	max-width: 100%;
	height: auto;
}
.footer .socials-list {
	margin-top: 25px;
}
.logo-descr {
	margin-top: 13px;
	max-width: 240px;
	font-weight: 600;
}
.requisites {
	margin-top: 25px;
}
.footer__bottom {
	padding: 24px 0;
	margin-top: 32px;
	color: #c4c4c4;
	border-top: 1px solid #c4c4c4;
}
.footer__wrapper {
	gap: 105px;
	display: flex;
	align-items: center;
}
.footer__links a {
	color: #c4c4c4;
	border-bottom: 1px #c4c4c4 solid;
}
.footer__links {
	gap: 15px;
	display: flex;
	align-items: center;
}
.create img {
	width: 57px;
	margin-left: 4px;
	display: inline-block;
	vertical-align: middle;
}
.footer__column {
	margin-left: 40px;
}
.socials-fixed {
	top: 104px;
	right: 53px;
	z-index: 600;
	position: fixed;
}
.socials-fixed li {
	margin-bottom: 8px;
}
.socials-fixed img {
	width: 54px;
	height: auto;
}


.page-contacts {
	padding-top: 30px;
	padding-bottom: 87px;
}
.page-contacts .title-section {
	margin-bottom: 60px;
}
#map {
	height: 484px;
	background: #ddd;
}
.item-contact {
	font-size: 18px;
	line-height: 160%;
}
.item-contact .title-small {
	margin-bottom: 12px;
}
.item-contact a {
	color: #000;
}
.center-contact {
	display: flex;
	justify-content: center;
}
.socials-main {
	gap: 8px;
	display: flex;
	align-items: center;
}
.socials-main img {
	width: 54px;
}
.item-contact .socials-main {
	padding-top: 8px;
}
.item-form {
	margin-bottom: 12px;
}
.item-form select,
.item-form input,
.item-form textarea {
	height: 60px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 140%;
	background: #fff;
	width: 100%;
	border: 1px solid #e7e7ea;
	border-radius: 6px;
	font-weight: 400;
	font-family: 'Manrope';
}
.item-form textarea {
	height: 132px;
	padding-top: 20px;
	resize: none;
}
.consultation_page .btn-main {
	width: 100%;
}
.consultation.consultation_page {
	padding-bottom: 46px;
}
.row.row_form>div {
	padding: 0 6px;
}
.row.row_form {
	margin: 0 -6px;
}
.consultation_page .consultation__descr {
	font-size: 18px;
	margin-bottom: 68px;
	max-width: 371px;
	line-height: 160%;
}
.checkbox {
	font-size: 12px;
	margin-top: 12px;
	color: rgba(255, 255, 255, 0.6);
	line-height: normal;
}
.checkbox a {
	color: rgba(255, 255, 255, 0.6);
	border-bottom: 1px rgba(255, 255, 255, 0.6) solid;
}
.checkbox label {
	gap: 10px;
	position: relative;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}
.checkbox label input {
	width: 19px;
	height: 19px;
	border: none;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid rgba(255, 255, 255, 0.6);
	position: relative;
	flex: none;
	cursor: pointer;
}
.checkbox label input::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 9px auto;
	opacity: 0;
	transition: .2s;
}
.checkbox input:checked:before {
	opacity: 1;
}
.consultation_page .checkbox {
	margin-left: 57px;
	max-width: 600px;
}
.consultation__bg {
	right: 65px;
}

.page-news {
	padding-top: 20px;
	padding-bottom: 100px;
}
.page-news .title-section {
	margin-bottom: 50px;
}
.row.row_news>div {
	margin-bottom: 59px;
}
.row.row_news {
	margin-bottom: -59px;
}
.item-news {
	display: block;
	color: #000;
}
.item-news__image {
	margin-bottom: 20px;
	padding-top: 63%;
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 2s;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.item-news__date {
	font-size: 18px;
	margin-bottom: 12px;
	line-height: 160%;
	display: block;
}
.item-news__title {
	font-size: 24px;
	line-height: 140%;
	font-weight: 600;
	transition: all 0.3s;
	display: block;
}
.pager {
	height: 54px;
	margin-top: 80px;
	gap: 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.slider-documents .slick-dots li button,
.page-numbers {
	width: 52px;
	height: 52px;
	font-size: 18px;
	line-height: 160%;
	border: 2px solid transparent;
	font-weight: 500;
	border-radius: 50%;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers.current {
	border-color: #fe4b0c;
}
.slider-documents .slick-dots li button,
.prev.page-numbers,
.next.page-numbers {
	width: 54px;
	height: 54px;
	font-size: 22px;
	border-color: #414141;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.prev.page-numbers {
	left: 0px;
}
.next.page-numbers {
	right: 0px;
}

.page-article {
	padding-bottom: 90px;
}
.breadcrumbs {
	padding-top: 15px;
	padding-bottom: 50px;
	font-size: 14px;
	line-height: 160%;
	font-weight: 500;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #000;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #000;
}
.breadcrumbs li::after {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	content: " ";
	margin: 0 20px;
	width: 24px;
	height: 24px;
	background-image: url(../img/arrow_main.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.article-content {
	font-size: 18px;
	line-height: 160%;
}
.article-content strong {
	font-weight: 600;
}
.article-content b {
	font-weight: 500;
}
.article-content h2 {
	font-size: 24px;
	margin-top: 37px;
	margin-bottom: 24px;
	line-height: 140%;
	font-weight: 600;
}
.article-content h1 {
	font-size: 48px;
	padding-left: 58px;
	margin-bottom: 50px;
	line-height: 140%;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Oswald';
	position: relative;
}
.article-content h1::before {
	position: absolute;
	display: block;
	content: " ";
	top: 5px;
	bottom: 5px;
	left: 0;
	width: 10px;
	background: #fe4b0c;
}
.article-content a {
	color: #fe4b0c;
	border-bottom: 1px #fe4b0c solid;
}
.article-content ul {
	padding-left: 20px;
}
.article-content ul li {
	list-style-type: disc;
}
.article-content ul li::marker {
	font-size: 80%;
}
.article-content img {
	margin: 50px 0;
	border-radius: 24px;
	max-width: 100%;
	height: auto;
}

.page-categories {
	padding-top: 20px;
	padding-bottom: 90px;
}
.page-categories .title-section {
	margin-bottom: 40px;
}
.item-category.item-category_page .item-category__head {
	gap: 12px;
	padding-right: 0;
	margin-bottom: 0;
}
.page-categories .row>div:nth-child(4) .item-category__title {
	font-size: 28px;
}
.item-category .btn-simple {
	color: #000;
	background: transparent !important;
	padding: 0;
	padding-bottom: 8px;
	border-radius: 0;
	border-bottom: 1px dashed #000;
	margin-left: auto;
}
.item-category.item-category_page {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-category.item-category_page .item-category__bg img {
	width: 135px;
}

.page-card {
	padding-bottom: 100px;
}
.title-card {
	font-size: 32px;
	margin-bottom: 28px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 600;
}
.slider-for__item {
	height: 400px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-for__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-for {
	margin-left: -20px;
	border: 1px solid #c4c4c4;
	border-radius: 12px;
}
.fancybox-infobar {
	display: none;
}
.slider-nav__item {
	height: 91px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #c4c4c4;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
}
.slider-nav__item img {
	max-width: 100%;
	max-height: 100%;
}
.slick-current .slider-nav__item {
	border-color: #FE4B0C;
}
.articul {
	font-size: 14px;
	margin-bottom: 22px;
	line-height: 140%;
	color: #414141;
}
.articul strong {
	font-weight: 600;
	color: #000;
}
.page-card strong {
	font-weight: 600;
}
.page-card .title-small {
	margin-top: 32px;
	margin-bottom: 12px;
}
.feature {
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 160%;
	color: #414141;
	display: flex;
	align-items: center;
}
.feature__value {
	width: 45%;
	flex: none;
	order: 2;
	font-weight: 600;
	color: #050505;
}
.feature::after {
	position: relative;
	display: block;
	content: " ";
	height: 1px;
	top: -4px;
	align-self: flex-end;
	background: #050505;
	flex: 1;
}
.more-features {
	font-size: 14px;
	padding-bottom: 5px;
	line-height: 130%;
	color: #fe4b0c;
	border-bottom: 1px #fe4b0c dashed;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.3s;
}
.card-info {
	padding: 24px;
	border-radius: 24px;
	background: #ededed;
}
.card-info .btn-main {
	width: 100%;
	display: flex;
	padding: 0 10px;
}
.card-info__head {
	margin-bottom: 57px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-info .price-main {
	font-size: 32px;
	font-weight: 700;
}
.quantity {
	width: 113px;
	height: 58px;
	border: 1px solid #c4c4c4;
	border-radius: 12px;
	background: #fff;
	display: flex;
}
.quantity-button {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 18px;
	color: #001e42;
	font-family: 'Manrope';
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 500;
}
.quantity input {
	flex: 1;
	width: 100%;
	font-size: 16px;
	color: #001e42;
	border: none;
	font-family: 'Manrope';
	text-align: center;
	background-color: transparent;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
.page-card .tabs {
	margin-top: 30px;
}
.tabs {
	gap: 10px;
	display: flex;
	align-items: center;
}
.tabs a {
	padding: 12px 36px;
	font-size: 18px;
	line-height: 140%;
	color: #000;
	font-weight: 600;
	border: 1px solid #ededed;
	border-radius: 48px;
	display: block;
}
.tabs .active a {
	background: #ededed;
}
.tab-container {
	padding-top: 28px;
}
.tab-container p {
	margin-bottom: 15px;
}
.tab-container p:last-child {
	margin-bottom: 0;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.recomendations {
	padding-bottom: 78px;
	overflow: hidden;
}
.recomendations .title-section {
	margin-bottom: 70px;
}

.page-catalog {
	padding-bottom: 110px;
}
.sidebar-catalog {
	margin-right: 53px;
	padding: 24px;
	border-radius: 24px;
	background: #ededed;
}
.item-sidebar {
	margin-bottom: 2px;
}
.item-sidebar__head {
	gap: 24px;
	padding: 6px;
	font-size: 20px;
	line-height: 140%;
	font-weight: 600;
	text-transform: uppercase;
	background: #fff;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}
.item-sidebar__icon {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.item-sidebar__icon img {
	width: 22px;
	height: auto;
}
.item-sidebar__content {
	padding-top: 19px;
	padding-bottom: 23px;
	padding-left: 48px;
	display: none;
}
.item-sidebar__content ul {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-sidebar__content ul li {
	margin-bottom: 12px;
	font-weight: 500;
	transition: all 0.3s;
	list-style-type: disc;
}
.item-sidebar__content ul li:last-child {
	margin-bottom: 0;
}
.item-sidebar__content ul li a {
	color: #000;
}
.item-sidebar__content ul li.active,
.item-sidebar__content ul li.active a {
	color: #fe4b0c;
}
.item-sidebar.active .item-sidebar__head {
	background: #fe4b0c;
	color: #fff;
}
.grid-catalog {
	gap: 2px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	display: grid;
}
.catalog-content {
	margin-left: -35px;
}
.page-catalog .title-section {
	margin-bottom: 40px;
}
.page-catalog .pager {
	margin-top: 62px;
}

.about-main {
	padding: 47px 67px;
	border-radius: 24px;
	margin-bottom: 30px;
	background-image: url(../img/bg_about.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}
.about-main .title-section {
	margin-bottom: 44px;
}
.about-main__grid {
	gap: 91px;
	font-weight: 500;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.about-main__value {
	font-size: 48px;
	margin-bottom: 12px;
	line-height: 140%;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Oswald';
}
.about-main .title-section::before {
	background: #fff;
}
.tabs-about {
	margin-bottom: 59px;
	gap: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs-about a {
	padding: 12px 36px;
	border-radius: 48px;
	line-height: 140%;
	font-weight: 600;
	color: #fff;
	background: #fe4b0c;
	border: 1px solid #fe4b0c;
	display: block;
}
.tabs-about .active a {
	background: transparent;
	color: #fe4b0c;
}
.about-main__grid,
.tabs-about a,
.item-category__text,
.page-about__content {
	font-size: 18px;
	line-height: 160%;
}
.tabs-about a {
	line-height: 140%;
}
.page-about__content img {
	border-radius: 24px;
	max-width: 100%;
	height: auto;
	display: block;
}
.page-about__content p {
	margin-bottom: 15px;
}
.page-about__content .title-section {
	margin-bottom: 30px;
}
.page-about__content .title-small {
	margin-bottom: 50px;
	max-width: 715px;
}
.item-category__text {
	font-weight: 500;
}
.item-category__text {
	margin-top: 24px;
}
.page-about .item-category__head {
	gap: 24px;
}
.page-about__content {
	margin-bottom: 72px;
}
.page-about {
	padding-bottom: 117px;
}
.tab-pane-about {
	display: none;
}
.tab-pane-about:nth-child(1) {
	display: block;
}
.slider-documents .slick-slide {
	padding: 15px;
}
.slider-documents .slick-list {
	margin: -15px;
}
.item-document {
	border-radius: 12px;
	padding-top: 135%;
	position: relative;
	display: block;
	background: #ededed;
}
.item-document img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 2s;
}
.item-document__image {
	top: 23px;
	bottom: 23px;
	left: 23px;
	right: 23px;
	display: block;
	position: absolute;
}
.slider-documents {
	margin-top: 28px;
	margin-bottom: 70px;
	padding-bottom: 90px;
}
.slider-documents .slick-dots li button {
	font-size: 18px;
	font-weight: 500;
	border-color: transparent;
	background: transparent;
	position: relative;
}
.slider-documents .slick-dots li {
	width: auto;
	height: auto;
}
.slider-documents .slick-dots li.slick-active button {
	border-color: #fe4b0c;
}
.slider-documents .slick-dots {
	bottom: 0px;
}
.slider-documents .slick-arrow {
	bottom: 0;
	top: auto;
	transform: none;
}
.slider-documents:last-child {
	margin-bottom: 0;
}
.slider-documents .slick-prev {
	left: 0;
}
.slider-documents .slick-next {
	right: 0;
}

.page-services {
	padding-top: 20px;
	padding-bottom: 90px;
}
.page-services .title-section {
	margin-bottom: 45px;
}
.process {
	padding-bottom: 110px;
	font-size: 18px;
	line-height: 160%;
}
.process .title-section {
	margin-bottom: 85px;
}
.item-etap__value {
	font-size: 48px;
	margin-bottom: 12px;
	line-height: 140%;
	text-transform: uppercase;
	font-family: 'Oswald';
	color: #000;
	font-weight: 600;
}
.item-etap {
	gap: 27px;
	color: #414141;
	font-weight: 500;
	display: flex;
	align-items: flex-start;
}
.row.row_etaps>div {
	margin-bottom: 108px;
}
.row.row_etaps {
	margin-bottom: -108px;
}
.item-etap__arrows {
	flex: none;
}
.item-etap__arrows img {
	width: 104px;
}
.row_etaps>div:nth-child(3n) .item-etap__arrows {
	display: none;
}
.row_etaps>div:nth-child(3n+2) .item-etap {
	margin-left: 60px;
	margin-right: -40px;
}
.row_etaps>div:nth-child(3n) .item-etap {
	margin-left: 70px;
}
.process__text {
	padding: 90px 0;
	font-weight: 600;
}
.process .title-small {
	margin-bottom: 24px;
}
.process__about p {
	margin-bottom: 20px;
}
.process__about p:last-child {
	margin-bottom: 0;
}
.single-service {
	padding-bottom: 60px;
}
.single-service .title-section {
	margin-bottom: 20px;
}
.single-service .article-content ul li {
	margin-bottom: 10px;
}
.single-service .article-content ul {
	margin-bottom: 20px;
}
.single-service .article-content .row>div>strong {
	font-weight: 700;
}
.single-service .article-content .col-lg-6 img {
	margin: 0;
}
.descr-title {
	margin-left: 58px;
	margin-bottom: 14px;
	font-weight: 500;
}
.page-delivery {
	padding-bottom: 90px;
}
.page-delivery .title-section {
	margin-bottom: 45px;
}
.about-payment,
.delivery-info {
	font-size: 18px;
	line-height: 160%;
}
.delivery-info {
	margin-bottom: 59px;
}
.delivery-info strong {
	font-weight: 600;
}
.delivery-info p {
	margin-bottom: 10px;
}
.delivery-info p:last-child {
	margin-bottom: 0;
}
.item-delivery {
	padding: 24px;
	gap: 12px;
	border-radius: 24px;
	background: #ededed;
	display: flex;
	align-items: center;
	font-weight: 600;
	color: #414141;
}
.item-delivery__icon {
	width: 94px;
	height: 94px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	background: #fff;
}
.about-payment {
	padding-top: 50px;
}
.item-form select {
	height: 48px;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 24px;
}
.item-form+.card-info__head {
	padding-top: 30px;
	margin-bottom: 42px;
}
.about-payment img {
	border-radius: 12px;
	max-width: 100%;
	height: auto;
}